[MASTER]
max-line-length=130
ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-few-public-methods,
        trailing-whitespace,
        missing-final-newline,
        too-many-instance-attributes,
        too-many-arguments,
        too-many-positional-arguments,
        too-many-branches,
        too-many-statements,
        too-many-locals,
        C0103,
        E0401,
        W0611,
        R1705

[FORMAT]

[REFACTORING]

[DESIGN]
